@{
    ViewBag.Title = "Index";
    Layout = Request.IsAjaxRequest() ? (Request.QueryString["loadmylayout"] != "1" ? null : "~/Views/Shared/_LayoutDetail.cshtml") : "~/Views/Shared/_LayoutDetail.cshtml";
}

<div data-bind="with: koStoryByCategory" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 category">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 top story" data-bind="with: topstory">
            <a data-bind="attr: { href: '/' + Id  ,title:Title}" data-target=".detail-container">
                <img border="0" data-bind="attr: { src: LinkIcon }">
                <span data-bind="text: Title"></span>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 next story">
            <ul class="list list-unstyled" data-bind="foreach: stories">
                <li>
                    <a data-bind="attr: { href: '/Story/' + Id  ,title:Title}" data-target=".detail-container">
                        <img border="0" data-bind="attr: { src: LinkIcon }">
                        <span data-bind="text: Title"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
@*@section categorydetail{*@
<script>
    $(function (d, e) {
        ko.cleanNode($('div.detail-container')[0]);
        ko.applyBindings({ koStoryByCategory: vmStoryByCategory }, $('div.detail-container')[0]);
        vmStoryByCategory.init();
    })
</script>
@* } *@