@{
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<div class="col-xs-12 col-lg-12">
    <b class="mainheadline">Nurse with fractured skull dies after being taken hostage at Guangdong hospital</b>
</div>
<div class="col-xs-12 col-lg-12">
    <div class="article_extras" style="display: block;"><span class="page-views">Posted on 28 December 2015</span> <span class="page-views">| </span><span id="total_views_1896484" class="page-views">3,493 views</span> <span class="page-views">| </span><span id="total_comments_1896484" class="page-views">1 comments</span></div>
</div>
<div class="col-xs-12 col-lg-12">
    <div class="btn-group">
        <a data-original-title="Twitter" rel="tooltip" href="#" class="btn btn-twitter" data-placement="left">
            <i class="fa fa-twitter"></i>
        </a>
        <a data-original-title="Facebook" rel="tooltip" href="#" class="btn btn-facebook" data-placement="left">
            <i class="fa fa-facebook"></i>
        </a>
        <a data-original-title="Google+" rel="tooltip" href="#" class="btn btn-google" data-placement="left">
            <i class="fa fa-google-plus"></i>
        </a>
        <a data-original-title="LinkedIn" rel="tooltip" href="#" class="btn btn-linkedin" data-placement="left">
            <i class="fa fa-linkedin"></i>
        </a>
        <a data-original-title="Pinterest" rel="tooltip" class="btn btn-pinterest" data-placement="left">
            <i class="fa fa-pinterest"></i>
        </a>
        <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
            <i class="fa fa-envelope"></i>
        </a>
    </div>
</div>
<div class="col-xs-12 col-lg-12">
    <div class="art_Image gridBox top5">
        <img src="~/Content/Images/Slider/orchard-road-theft.jpg" style="width: 100%; height: 100%">
    </div>
</div>
<div class="col-xs-12 col-lg-12 top5">
    <div class="art_text">
        <p>A nurse died of her injuries after being held at knife-point by a hostage-taker at a hospital in Guangdong province on Dec 23.</p>

        <p>According to Shanghaiist</a>, the incident took place&nbsp;at Southwest Hospital in Wuchuan city at about 4pm.</p>

        <p>A 38-year-old man had stormed into the emergency department of the hospital, looking for a nurse named Li Haiyan. He then made his way out of the building while holding her at knifepoint.</p>

        <p>The security guard on duty had closed the gate to prevent the their escape. However, they were allowed to leave after the man became increasingly agitated and started to cut into Li's neck.</p>

        <p>The perpetrator&nbsp;drove away with Li in an SUV, with five police cars in pursuit.</p>

        <p>The hostage-taker was finally intercepted at Tangzhui town and taken into custody. Li, whose&nbsp;cervical vertebra and skull were both fractured,&nbsp;<span style="line-height: 20.8px;">was rushed to hospital but later died of her injuries.</span></p>

        <p>Media reports speculate that the attack was motivated by a medical dispute, which the president of the hospital has denied. He told reporters that there was no record of the man or his family having ever visited the hospital.</p>

        <p>Police are investigating the incident.</p>
    </div>
</div>
<div class="col-xs-12 col-lg-12 top5">
    <div class="misc_headers" id="tags">
        <strong class="label-above tags-label">TAGGED UNDER:&nbsp;</strong>
        <h4><a href="">expensive meal</a></h4>
        <span class="tag-comma">,</span><h4><a href="#">unusual</a></h4>
        <span class="tag-comma">,</span><h4><a href="#">shocking</a></h4>
        <span class="tag-comma">,</span><h4><a href="#">Bill</a></h4>
        <span class="tag-comma">,</span><h4><a href="#">shock</a></h4>
    </div>
</div>
<div class="col-xs-12 col-lg-12 top5">
    <div class="misc_headers" id="tags">
        <strong class="label-above tags-label" style="line-height: 30px;">SHARE THIS ARCTICLE :&nbsp;</strong>
        <div class="btn-group">
            <a data-original-title="Twitter" rel="tooltip" href="#" class="btn btn-twitter" data-placement="left">
                <i class="fa fa-twitter"></i>
            </a>
            <a data-original-title="Facebook" rel="tooltip" href="#" class="btn btn-facebook" data-placement="left">
                <i class="fa fa-facebook"></i>
            </a>
            <a data-original-title="Google+" rel="tooltip" href="#" class="btn btn-google" data-placement="left">
                <i class="fa fa-google-plus"></i>
            </a>
            <a data-original-title="LinkedIn" rel="tooltip" href="#" class="btn btn-linkedin" data-placement="left">
                <i class="fa fa-linkedin"></i>
            </a>
            <a data-original-title="Pinterest" rel="tooltip" class="btn btn-pinterest" data-placement="left">
                <i class="fa fa-pinterest"></i>
            </a>
            <a data-original-title="Email" rel="tooltip" class="btn btn-mail" data-placement="left">
                <i class="fa fa-envelope"></i>
            </a>
        </div>
    </div>
</div>
<div class="col-xs-12 col-lg-12 top5">
    <div id="block-views-views-you-might-also-like-block" class="block-views even">
        <div class="seealso_header"><strong>YOU MIGHT ALSO LIKE</strong></div>
        <div id="seealso">
            <div class="col-lg-1">
                <a id="prev2" class="buttons prev" href="#" style="display: block;">
                    <i class="fa fa-arrow-left"></i>
                </a>
            </div>
            <div class="col-lg-10">
                <div class="viewport">
                    <div class="view-content">
                        <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: absolute; top: auto; right: auto; bottom: auto; left: 0px; z-index: auto; width: 100%; height: 121px; margin: 0px 0px 10px; overflow: hidden;">
                            <ul id="hmpg-gallery-slider" class="overview" style="left: 0px; text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; margin: 0px; z-index: auto;">
                                <li class="">
                                    <a href="/this-urban-jungle/indian-foreign-worker-killed-after-tree-falls-on-excavator-at-thomson-road">
                                        <img class="img-responsive" typeof="foaf:Image" src="~/Content/Images/Slider/passengermain_0.jpg" alt="Indian foreign worker killed after tree falls on excavator at Thomson Road">
                                    </a>
                                    <h3><a href="/this-urban-jungle/indian-foreign-worker-killed-after-tree-falls-on-excavator-at-thomson-road">Indian foreign worker killed after tree falls on e...</a></h3>
                                </li>
                                <li class="">
                                    <a href="/this-urban-jungle/family-alights-from-vehicle-which-stalls-on-cte-only-to-be-killed-by-car">
                                        <img class="img-responsive" typeof="foaf:Image" src="~/Content/Images/Slider/passengermain_0.jpg" alt="Family alights from vehicle which stalls on CTE, only to be killed by car">
                                    </a>
                                    <h3><a href="/this-urban-jungle/family-alights-from-vehicle-which-stalls-on-cte-only-to-be-killed-by-car">Family alights from vehicle which stalls on CTE, o...</a></h3>
                                </li>
                                <li class="">
                                    <a href="/this-urban-jungle/father-of-4-dies-after-aromatherapy-diffuser-explodes-in-his-jurong-east-home">
                                        <img class="img-responsive" typeof="foaf:Image" src="~/Content/Images/Slider/passengermain_0.jpg" alt="Father of 4 dies after aromatherapy diffuser explodes in his Jurong East home">
                                    </a>
                                    <h3><a href="/this-urban-jungle/father-of-4-dies-after-aromatherapy-diffuser-explodes-in-his-jurong-east-home">Father of 4 dies after aromatherapy diffuser explo...</a></h3>
                                </li>
                                <li class="">
                                    <a href="/this-urban-jungle/construction-worker-dead-and-12-injured-in-crash-between-lorry-and-car-on-pie">
                                        <img class="img-responsive" typeof="foaf:Image" src="~/Content/Images/Slider/passengermain_0.jpg" alt="Construction worker dead and 12 injured in crash between lorry and car on PIE">
                                    </a>
                                    <h3><a href="/this-urban-jungle/construction-worker-dead-and-12-injured-in-crash-between-lorry-and-car-on-pie">Construction worker dead and 12 injured in crash b...</a></h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">

                <a id="next2" class="buttons next" href="#" style="display: block;">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>

        </div>
        <div class="gap15"></div>
    </div>
</div>
<div class="col-xs-12 col-lg12">
    <div id="tabs-1">
        <div class="comments_header">ADD A COMMENT</div>
        <div id="notifications"></div>

        <form name="submitcomment" id="submitcomment" class="submitcomment" method="POST" action="#">
            <ul>
                <li>
                    <textarea class="tb5" rows="10" cols="30" name="comment_body[und][0][value]" id="commentField" onfocus="if (this.value == 'Go ahead! Have your say on this story. Comment now.')
                            this.value = '';"
                              onblur="if (this.value == '')
                                        this.value = this.defaultValue;">
                        Go ahead! Have your say on this story. Comment now.
                    </textarea>
                </li>
                <li>
                    <input type="button" name="submit_comment" value="POST COMMENT" id="submit_comment" class="btn btn-sm  btn-default">
                </li>
            </ul>
        </form>
        <div class="form_description">
            <p></p>
        </div>
        <div id="is_loggedin_comment" style="display: none;">0</div>
        <div id="article_comments" class="article_comments_list">
            <div class="view view-views-comments view-id-views_comments view-display-id-block view-dom-id-">
                <div class="attachment attachment-before">
                    <div style="font-size: 16px; font-weight: bold; font-family: 'PT Sans',sans-serif;">All Comments (2)</div>
                </div>
                <div class="view-content">
                    <div class="field-item" property="content:encoded">
                        <p class="submitted">Pink.Fat.Lady on Sat, 01/02/2016 - 12:41</p>
                        Why didn't Mr Yap conduct the funeral proceedings in JB since he lived there?? It would have been easier for him and costs are much more reasonable. He should be in better financial situation now since he does not have to pay alimony anymore.
                        <div class="clearfix"></div>
                        <div class="voting_left">
                            <div class="vud-widget vud-widget-thumbs" id="widget-comment-392992">
                                <span class="points">0</span>
                                <div class="up-score clear-block">
                                    <a href="http://singaporeseen.stomp.com.sg/ldap/?current_url=http://singaporeseen.stomp.com.sg/stomp/listing_comment?nid=1896862&amp;is_loggedin=0&amp;_=1451761047318" rel="nofollow" class="vote-up-not-loggedin vud-link-up2" title="login to rate comment" onclick="_userClicks('Vote Up', 'A');">
                                        <div style="" class="vote-up-not-loggedin-up-active vote-thumb up-inactive" title="login to rate comment"></div>
                                        <div class="element-invisible">login to rate comment</div>
                                    </a>
                                </div>
                                <div class="down-score clear-block">
                                    <a href="http://singaporeseen.stomp.com.sg/ldap/?current_url=http://singaporeseen.stomp.com.sg/stomp/listing_comment?nid=1896862&amp;is_loggedin=0&amp;_=1451761047318" rel="nofollow" class="vud-link-down2 vote-down-not-loggedin" title="login to rate comment" onclick="_userClicks('Vote Down', 'A');">
                                        <div style="" class="vote-down-not-loggedin-down-active vote-thumb down-inactive" title="login to rate comment"></div>
                                        <div class="element-invisible">login to rate comment</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="voting_right"></div>
                        <span class="offensive">
                            <span class="flag-wrapper flag-abuse-comment flag-abuse-comment-392992">
                                <a href="/flag/flag/abuse_comment/392992?destination=stomp/listing_comment%3Fnid%3D1896862%26is_loggedin%3D0%26_%3D1451761047318&amp;token=af00aa634942a4f6655cd57761fd018e" title="" class="flag flag-action flag-link-toggle" rel="nofollow">Mark comment as offensive</a><span class="flag-throbber">&nbsp;</span>
                            </span>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <div style="margin: 20px 0 2px 0"></div>
                    <div class="submitted_divider"></div>
                    <div class="field-item" property="content:encoded">
                        <p class="submitted">Pink.Fat.Lady on Sat, 01/02/2016 - 12:39</p>
                        Why didn't Mr Yap conduct the
                        <div class="clearfix"></div>
                        <div class="voting_left">
                            <div class="vud-widget vud-widget-thumbs" id="widget-comment-392991">
                                <span class="points">0</span>
                                <div class="up-score clear-block">
                                    <a href="http://singaporeseen.stomp.com.sg/ldap/?current_url=http://singaporeseen.stomp.com.sg/stomp/listing_comment?nid=1896862&amp;is_loggedin=0&amp;_=1451761047318" rel="nofollow" class="vote-up-not-loggedin vud-link-up2" title="login to rate comment" onclick="_userClicks('Vote Up', 'A');">
                                        <div style="" class="vote-up-not-loggedin-up-active vote-thumb up-inactive" title="login to rate comment"></div>
                                        <div class="element-invisible">login to rate comment</div>
                                    </a>
                                </div>
                                <div class="down-score clear-block">
                                    <a href="http://singaporeseen.stomp.com.sg/ldap/?current_url=http://singaporeseen.stomp.com.sg/stomp/listing_comment?nid=1896862&amp;is_loggedin=0&amp;_=1451761047318" rel="nofollow" class="vud-link-down2 vote-down-not-loggedin" title="login to rate comment" onclick="_userClicks('Vote Down', 'A');">
                                        <div style="" class="vote-down-not-loggedin-down-active vote-thumb down-inactive" title="login to rate comment"></div>
                                        <div class="element-invisible">login to rate comment</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="voting_right"></div>
                        <span class="offensive">
                            <span class="flag-wrapper flag-abuse-comment flag-abuse-comment-392991">
                                <a href="#" title="" class="flag flag-action flag-link-toggle" rel="nofollow">Mark comment as offensive</a><span class="flag-throbber">&nbsp;</span>
                            </span>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <div style="margin: 20px 0 2px 0"></div>
                </div>
            </div>
        </div>
    </div>
</div>
