@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    if (!Request.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LayoutError.cshtml";
    }
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
@if (Model != null)
{
    <div>Controller: <span class="text-danger">@Model.ControllerName</span></div>
    <div>Action: <span class="text-danger">@Model.ActionName</span></div>
    <h4 class="text-danger">@Model.Exception.Message</h4>
}

